#Build
.gradle/3.3/
.idea/
.gradle/
build/
gradle/
app/build/


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/vcs.xml
.idea/workspace.xml
build/android-profile/profile-2017-04-28-10-58-49-688.rawproto
.idea/workspace.xml
*.rawproto
.idea/workspace.xml
.gradle/3.3/taskArtifacts/fileHashes.bin
app/build/intermediates/blame/res/debug/multi/values-ka-rGE.json
*.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
